.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}
.section-hero {
  text-align: center;
  padding: 118px 0;
  background-color: #2f303a;
  @include tablet {
    padding: 118px 0;
  }
  @include desktop {
    padding: 200px 0;
  }
}

.section-features {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }
}

.section-gallery {
  display: none;
  @include desktop {
    display: block;
    padding: 0;
    padding-bottom: 94px;
  }
}
.section-team {
  padding: 60px 0;
  background-color: var(--section-background-color);
  @include desktop {
    padding: 94px 0;
  }
}
.section-clients {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }
}
.section-portfolio {
  padding: 60px 0;
  @include desktop {
    padding: 94px 0;
  }
}
