.overlay {
  max-width: 320px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: var(--bg-gradient), url(../images/hero-overlay-mobile.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: var(--bg-gradient),
      url(../images/hero-overlay-mobile-2x.jpg);
  }
  @include mobile {
    max-width: 480px;
    @include retina {
      background-image: var(--bg-gradient),
        url(../images/hero-overlay-mobile-2x.jpg);
    }
  }
  @include tablet {
    max-width: 768px;
    background-image: var(--bg-gradient), url(../images/hero-overlay-tablet.jpg);
    @include retina {
      background-image: var(--bg-gradient),
        url(../images/hero-overlay-tablet-2x.jpg);
    }
  }
  @include desktop {
    max-width: 1600px;
    background-image: var(--bg-gradient), url(../images/hero-overlay.jpg);
    @include retina {
      background-image: var(--bg-gradient), url(../images/hero-overlay-2x.jpg);
    }
  }
}
