.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
  text-align: left;
}
.menu {
  display: none;
  width: 100%;
  @include tablet {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
  }
}
.navigation {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
  }
  @include desktop {
    display: flex;
    align-items: center;
  }
  &__link {
    position: relative;
    display: block;
    color: var(--title-text-color);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include font(500, 14px, 1.14, 0.02em);
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--accent-color);
      cursor: pointer;
    }

    &.current {
      color: var(--accent-color);
    }

    @media screen and (max-width: 767px) {
      @include font(500, 40px, 1.18, 0.02em);
    }

    @media screen and (min-width: 768px) {
      @include font(500, 14px, 1.14, 0.02em);
      font-weight: 500;
      padding: 32px 0;
    }
  }

  @media screen and (min-width: 768px) {
    margin-right: auto;

    &__link.current::after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -1px;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}
.navigation__list {
  display: flex;
  margin-right: auto;
  gap: 50px;
}

.contacts {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    .header & {
      margin-left: auto;
    }
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.contacts__item:not(:last-child) {
  margin-bottom: 10px;
  @include desktop {
    margin-bottom: 0;
  }
}
.contacts__links {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-main);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contacts__phone-icon,
.contacts__mail-icon {
  margin-right: 10px;
  fill: currentColor;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
